[Unit]
Description=Launch Label Studio
After=network.target

[Service]
ExecStart=/home/ubuntu/scripts/runner.sh
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/
Environment=LABEL_STUDIO_DISABLE_SIGNUP_WITHOUT_LINK=true

[Install]
WantedBy=multi-user.target
