[Unit]
Description=Launch Admin Pages
After=network.target

[Service]
ExecStart=/home/ubuntu/scripts/admin_runner.sh
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/

[Install]
WantedBy=multi-user.target
